.profile__report {
  position: relative;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  display: block;
  min-height: 600px;
  //   opacity: 0;

  .report__bg {
    max-width: 100%;
    display: block;
    border-radius: 5px 5px 0px 0px;
  }

  .report__content {
    position: absolute;
    color: black;
    top: 3rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .report__username {
      font-weight: 300;
      font-size: 1.25rem;

      .highlight {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }

    .report__header {
      margin-top: 0.75rem;

      h2 {
        font-size: 4rem;
        font-weight: 500;
      }

      h4 {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    .report__main {
      margin-top: 1rem;
      width: -webkit-fill-available;
      width: fill-available;
      width: -moz-available;

      .row {
        display: flex;
        width: 100%;
        margin: 0.75rem auto;
        justify-content: space-around;

        .report__tile {
          display: flex;
          align-items: center;

          .report__icon {
            height: 68px;
          }
          .report__data {
            text-align: left;
            margin: 0 0.5rem;

            .report__number {
              font-weight: 500;
              font-size: 1.4rem;
            }

            .report__category {
              font-weight: 400;
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}

// I thought, It's Christmas, so why not have a tree here :)
@media screen and (max-width: 1024px) {
  .profile__section {
    .profile__content {
      .profile__skeleton {
        .profile__report {
          .report__content {
            .report__main {
              .row {
                .report__tile {
                  .report__icon {
                    height: 84px;
                  }
                  .report__data {
                    .report__number {
                      font-size: 1.75rem;
                    }
                    .report__category {
                      font-size: 1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .profile__section {
    .profile__content {
      .profile__skeleton {
        .profile__report {
          .report__content {
            .report__main {
              .row {
                .report__tile {
                  .report__icon {
                    height: 72px;
                  }
                  .report__data {
                    .report__number {
                      font-size: 1.25rem;
                    }
                    .report__category {
                      font-size: 1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .profile__section {
    .profile__content {
      .profile__skeleton {
        .profile__report {
          .report__bg {
            min-height: 600px;
          }
          .report__content {
            .report__main {
              .row {
                .report__tile {
                  .report__icon {
                    height: 72px;
                  }
                  .report__data {
                    .report__number {
                      font-size: 1.25rem;
                    }
                    .report__category {
                      font-size: 1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .profile__section {
    .profile__content {
      .profile__skeleton {
        .profile__report {
          min-height: 500px;
          .report__bg {
            min-height: 500px;
          }
          .report__content {
            top: 2rem;
            bottom: auto;

            .report__username {
              font-size: 1rem;
              .highlight {
                font-size: 1rem;
              }
            }
            .report__header {
              margin-top: 0.25rem;
              h2 {
                font-size: 2.5rem;
                font-weight: 500;
              }
              h4 {
                font-size: 1rem;
              }
            }
            .report__main {
              .row {
                .report__tile {
                  .report__icon {
                    height: 48px;
                  }
                  .report__data {
                    .report__number {
                      font-size: 1rem;
                    }
                    .report__category {
                      font-size: 0.75rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
