@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  ::-webkit-scrollbar {
    width: 0;
  }
}

:root {
  --color-primary: #040d23;
  font-size: 16px;
}

body {
  background-color: var(--color-primary);
  background: url("./assets/images/background.png");
  background-size: cover;

  @media screen and (max-width: 720px) {
    background: var(--color-primary);
  }
}
